CRMGadget/wsdl/Product.wsdl.xml

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:xsdLocal1="urn:/crmondemand/xml/product"
targetNamespace="urn:crmondemand/ws/product/"
xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns:tns="urn:crmondemand/ws/product/">
  <types>
    <xsd:schema elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    xmlns:xsdLocal1="urn:/crmondemand/xml/product"
    targetNamespace="urn:/crmondemand/xml/product"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:annotation>
        <xsd:documentation>Copyright (C) 2001, 2008, Oracle and/or
        its affiliates. All rights reserved. Siebel XSD
        Generation</xsd:documentation>
      </xsd:annotation>
      <xsd:element name="ListOfProduct"
      type="xsdLocal1:ListOfProduct" />
      <xsd:complexType name="ListOfProductTopElmt">
        <xsd:sequence>
          <xsd:element name="ListOfProduct" maxOccurs="1"
          minOccurs="1" type="xsdLocal1:ListOfProduct" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ListOfProduct">
        <xsd:sequence>
          <xsd:element name="Product" maxOccurs="unbounded"
          minOccurs="0" type="xsdLocal1:Product" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Product">
        <xsd:sequence>
          <xsd:element name="ProductId" maxOccurs="1" minOccurs="0"
          type="xsdLocal1:string30" />
          <xsd:element name="ModId" maxOccurs="1" minOccurs="0"
          type="xsdLocal1:string30" />
          <xsd:element name="Body" maxOccurs="1" minOccurs="0"
          type="xsdLocal1:string30" />
          <xsd:element name="Category" maxOccurs="1" minOccurs="0"
          type="xsdLocal1:string30" />
          <xsd:element name="Controlled" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CreatedByDate" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CreatedById" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CreatedBy" maxOccurs="1" minOccurs="0"
          type="xsdLocal1:string50" />
          <xsd:element name="ProductCurrency" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string20" />
          <xsd:element name="DealerInvoicePrice" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="Description" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string255" />
          <xsd:element name="DoorStyle" maxOccurs="1" minOccurs="0"
          type="xsdLocal1:string30" />
          <xsd:element name="Engine" maxOccurs="1" minOccurs="0"
          type="xsdLocal1:string30" />
          <xsd:element name="ExternalSystemId" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="IntegrationId" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="LotTrackingNumber" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="MSRP" maxOccurs="1" minOccurs="0"
          type="xsd:string" />
          <xsd:element name="Make" maxOccurs="1" minOccurs="0"
          type="xsdLocal1:string30" />
          <xsd:element name="Model" maxOccurs="1" minOccurs="0"
          type="xsdLocal1:string30" />
          <xsd:element name="ModelYear" maxOccurs="1" minOccurs="0"
          type="xsd:string" />
          <xsd:element name="ModifiedByDate" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="ModifiedById" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="Name" maxOccurs="1" minOccurs="0"
          type="xsdLocal1:string100" />
          <xsd:element name="Orderable" maxOccurs="1" minOccurs="0"
          type="xsd:string" />
          <xsd:element name="ParentProductId" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="ParentProductExternalId" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="ParentProductName" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string100" />
          <xsd:element name="PartNumber" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string50" />
          <xsd:element name="PriceType" maxOccurs="1" minOccurs="0"
          type="xsdLocal1:string30" />
          <xsd:element name="ProductCategoryId" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="ProductCategory" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string100" />
          <xsd:element name="Type" maxOccurs="1" minOccurs="0"
          type="xsdLocal1:string30" />
          <xsd:element name="Serialized" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="SubType" maxOccurs="1" minOccurs="0"
          type="xsdLocal1:string30" />
          <xsd:element name="TherapeuticClass" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="Transmission" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="Trim" maxOccurs="1" minOccurs="0"
          type="xsdLocal1:string30" />
          <xsd:element name="ProductType" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="ModifiedBy" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string50" />
          <xsd:element name="Revision" maxOccurs="1" minOccurs="0"
          type="xsdLocal1:string30" />
          <xsd:element name="Status" maxOccurs="1" minOccurs="0"
          type="xsdLocal1:string30" />
          <xsd:element name="Class" maxOccurs="1" minOccurs="0"
          type="xsdLocal1:string75" />
          <xsd:element name="CustomBoolean0" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomBoolean1" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomBoolean10" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomBoolean11" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomBoolean12" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomBoolean13" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomBoolean14" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomBoolean15" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomBoolean16" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomBoolean17" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomBoolean18" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomBoolean19" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomBoolean2" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomBoolean20" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomBoolean21" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomBoolean22" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomBoolean23" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomBoolean24" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomBoolean25" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomBoolean26" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomBoolean27" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomBoolean28" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomBoolean29" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomBoolean3" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomBoolean30" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string1" />
          <xsd:element name="CustomBoolean31" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string1" />
          <xsd:element name="CustomBoolean32" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string1" />
          <xsd:element name="CustomBoolean33" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string1" />
          <xsd:element name="CustomBoolean34" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string1" />
          <xsd:element name="CustomBoolean4" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomBoolean5" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomBoolean6" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomBoolean7" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomBoolean8" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomBoolean9" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomCurrency0" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomCurrency1" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomCurrency10" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomCurrency11" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomCurrency12" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomCurrency13" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomCurrency14" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomCurrency15" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomCurrency16" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomCurrency17" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomCurrency18" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomCurrency19" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomCurrency2" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomCurrency20" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomCurrency21" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomCurrency22" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomCurrency23" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomCurrency24" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomCurrency3" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomCurrency4" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomCurrency5" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomCurrency6" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomCurrency7" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomCurrency8" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomCurrency9" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate0" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate10" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate11" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate12" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate13" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate14" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate15" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate16" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate17" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate18" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate19" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate2" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate20" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate21" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate22" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate23" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate24" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate25" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate26" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate27" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate28" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate29" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate3" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate30" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate31" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate32" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate33" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate34" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate35" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate36" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate37" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate38" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate39" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate4" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate40" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate41" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate42" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate43" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate44" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate45" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate46" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate47" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate48" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate49" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate5" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate50" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate51" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate52" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate53" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate54" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate55" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate56" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate57" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate58" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate59" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate6" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate7" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate8" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomDate9" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomInteger0" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomInteger1" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomInteger10" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomInteger11" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomInteger12" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomInteger13" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomInteger14" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomInteger15" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomInteger16" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomInteger17" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomInteger18" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomInteger19" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomInteger2" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomInteger20" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomInteger21" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomInteger22" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomInteger23" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomInteger24" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomInteger25" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomInteger26" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomInteger27" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomInteger28" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomInteger29" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomInteger3" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomInteger30" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomInteger31" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomInteger32" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomInteger33" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomInteger34" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomInteger4" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomInteger5" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomInteger6" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomInteger7" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomInteger8" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomInteger9" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber0" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber1" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber10" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber11" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber12" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber13" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber14" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber15" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber16" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber17" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber18" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber19" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber2" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber20" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber21" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber22" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber23" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber24" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber25" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber26" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber27" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber28" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber29" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber3" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber30" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber31" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber32" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber33" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber34" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber35" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber36" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber37" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber38" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber39" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber4" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber40" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber41" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber42" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber43" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber44" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber45" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber46" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber47" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber48" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber49" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber5" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber50" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber51" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber52" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber53" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber54" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber55" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber56" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber57" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber58" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber59" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber6" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber60" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber61" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber62" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber7" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber8" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomNumber9" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomPhone0" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomPhone1" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomPhone10" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomPhone11" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomPhone12" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomPhone13" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomPhone14" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomPhone15" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomPhone16" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomPhone17" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomPhone18" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomPhone19" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomPhone2" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomPhone3" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomPhone4" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomPhone5" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomPhone6" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomPhone7" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomPhone8" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="CustomPhone9" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomPickList0" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList1" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList10" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList11" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList12" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList13" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList14" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList15" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList16" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList17" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList18" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList19" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList2" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList20" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList21" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList22" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList23" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList24" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList25" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList26" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList27" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList28" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList29" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList3" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList30" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList31" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList32" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList33" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList34" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList35" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList36" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList37" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList38" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList39" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList4" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList40" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList41" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList42" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList43" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList44" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList45" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList46" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList47" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList48" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList49" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList5" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList50" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList51" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList52" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList53" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList54" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList55" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList56" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList57" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList58" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList59" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList6" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList60" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList61" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList62" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList63" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList64" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList65" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList66" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList67" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList68" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList69" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList7" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList70" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList71" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList72" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList73" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList74" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList75" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList76" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList77" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList78" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList79" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList8" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList80" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList81" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList82" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList83" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList84" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList85" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList86" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList87" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList88" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList89" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList9" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList90" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList91" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList92" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList93" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList94" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList95" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList96" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList97" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList98" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomPickList99" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="CustomText0" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string255" />
          <xsd:element name="CustomText1" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string255" />
          <xsd:element name="CustomText10" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string255" />
          <xsd:element name="CustomText11" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string255" />
          <xsd:element name="CustomText12" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string255" />
          <xsd:element name="CustomText13" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string255" />
          <xsd:element name="CustomText14" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string255" />
          <xsd:element name="CustomText15" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string255" />
          <xsd:element name="CustomText16" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string255" />
          <xsd:element name="CustomText17" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string255" />
          <xsd:element name="CustomText18" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string255" />
          <xsd:element name="CustomText19" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string255" />
          <xsd:element name="CustomText2" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string255" />
          <xsd:element name="CustomText20" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string255" />
          <xsd:element name="CustomText21" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string255" />
          <xsd:element name="CustomText22" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string255" />
          <xsd:element name="CustomText23" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string255" />
          <xsd:element name="CustomText24" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string255" />
          <xsd:element name="CustomText25" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string255" />
          <xsd:element name="CustomText26" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string255" />
          <xsd:element name="CustomText27" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string255" />
          <xsd:element name="CustomText28" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string255" />
          <xsd:element name="CustomText29" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string255" />
          <xsd:element name="CustomText3" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string255" />
          <xsd:element name="CustomText30" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText31" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText32" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText33" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText34" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText35" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText36" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText37" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText38" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText39" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText4" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string255" />
          <xsd:element name="CustomText40" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText41" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText42" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText43" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText44" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText45" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText46" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText47" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText48" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText49" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText5" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string255" />
          <xsd:element name="CustomText50" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText51" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText52" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText53" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText54" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText55" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText56" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText57" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText58" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText59" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText6" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string255" />
          <xsd:element name="CustomText60" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText61" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText62" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText63" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText64" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText65" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText66" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText67" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText68" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText69" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText7" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string255" />
          <xsd:element name="CustomText70" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText71" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText72" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText73" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText74" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText75" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText76" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText77" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText78" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText79" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText8" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string255" />
          <xsd:element name="CustomText80" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText81" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText82" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText83" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText84" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText85" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText86" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText87" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText88" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText89" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText9" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string255" />
          <xsd:element name="CustomText90" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText91" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText92" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText93" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText94" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText95" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText96" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText97" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText98" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomText99" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="CustomDate1" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="ProductCategoryExternalSystemId"
          maxOccurs="1" minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="IndexedBoolean0" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="IndexedCurrency0" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="IndexedDate0" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="IndexedLongText0" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string255" />
          <xsd:element name="IndexedNumber0" maxOccurs="1"
          minOccurs="0" type="xsd:string" />
          <xsd:element name="IndexedPick0" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="IndexedPick1" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="IndexedPick2" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="IndexedPick3" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="IndexedPick4" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="IndexedPick5" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string30" />
          <xsd:element name="IndexedShortText0" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
          <xsd:element name="IndexedShortText1" maxOccurs="1"
          minOccurs="0" type="xsdLocal1:string40" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="string50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="string255">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="255" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="string75">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="75" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="string40">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="40" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="string30">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="string1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="string100">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="100" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="string20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    targetNamespace="urn:crmondemand/ws/product/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="urn:/crmondemand/xml/product" />
      <xsd:element name="ProductWS_ProductInsert_Input">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="xsdLocal1:ListOfProduct" />
            <xsd:element name="Echo" minOccurs="0"
            type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ProductWS_ProductInsert_Output">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="xsdLocal1:ListOfProduct" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ProductWS_ProductInsertOrUpdate_Input">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="xsdLocal1:ListOfProduct" />
            <xsd:element name="Echo" minOccurs="0"
            type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ProductWS_ProductInsertOrUpdate_Output">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="xsdLocal1:ListOfProduct" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ProductWS_ProductUpdate_Input">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="xsdLocal1:ListOfProduct" />
            <xsd:element name="Echo" minOccurs="0"
            type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ProductWS_ProductUpdate_Output">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="xsdLocal1:ListOfProduct" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ProductWS_ProductQueryPage_Input">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="UseChildAnd" minOccurs="0"
            type="xsd:string" />
            <xsd:element name="PageSize" minOccurs="0"
            type="xsd:string" />
            <xsd:element ref="xsdLocal1:ListOfProduct" />
            <xsd:element name="StartRowNum" minOccurs="0"
            type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ProductWS_ProductQueryPage_Output">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="LastPage" type="xsd:string" />
            <xsd:element ref="xsdLocal1:ListOfProduct" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="ProductWS_ProductInsert_Input">
    <part name="ProductWS_ProductInsert_Input"
    element="tns:ProductWS_ProductInsert_Input" />
  </message>
  <message name="ProductWS_ProductInsert_Output">
    <part name="ProductWS_ProductInsert_Output"
    element="tns:ProductWS_ProductInsert_Output" />
  </message>
  <message name="ProductWS_ProductInsertOrUpdate_Input">
    <part name="ProductWS_ProductInsertOrUpdate_Input"
    element="tns:ProductWS_ProductInsertOrUpdate_Input" />
  </message>
  <message name="ProductWS_ProductInsertOrUpdate_Output">
    <part name="ProductWS_ProductInsertOrUpdate_Output"
    element="tns:ProductWS_ProductInsertOrUpdate_Output" />
  </message>
  <message name="ProductWS_ProductUpdate_Input">
    <part name="ProductWS_ProductUpdate_Input"
    element="tns:ProductWS_ProductUpdate_Input" />
  </message>
  <message name="ProductWS_ProductUpdate_Output">
    <part name="ProductWS_ProductUpdate_Output"
    element="tns:ProductWS_ProductUpdate_Output" />
  </message>
  <message name="ProductWS_ProductQueryPage_Input">
    <part name="ProductWS_ProductQueryPage_Input"
    element="tns:ProductWS_ProductQueryPage_Input" />
  </message>
  <message name="ProductWS_ProductQueryPage_Output">
    <part name="ProductWS_ProductQueryPage_Output"
    element="tns:ProductWS_ProductQueryPage_Output" />
  </message>
  <portType name="Default_Binding_Product">
    <operation name="ProductInsert">
      <input message="tns:ProductWS_ProductInsert_Input" />
      <output message="tns:ProductWS_ProductInsert_Output" />
    </operation>
    <operation name="ProductInsertOrUpdate">
      <input message="tns:ProductWS_ProductInsertOrUpdate_Input" />
      <output message="tns:ProductWS_ProductInsertOrUpdate_Output" />
    </operation>
    <operation name="ProductUpdate">
      <input message="tns:ProductWS_ProductUpdate_Input" />
      <output message="tns:ProductWS_ProductUpdate_Output" />
    </operation>
    <operation name="ProductQueryPage">
      <input message="tns:ProductWS_ProductQueryPage_Input" />
      <output message="tns:ProductWS_ProductQueryPage_Output" />
    </operation>
  </portType>
  <binding name="Default_Binding"
  type="tns:Default_Binding_Product">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"
    style="document" />
    <operation name="ProductInsert">
      <soap:operation soapAction="document/urn:crmondemand/ws/product/:ProductInsert" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ProductInsertOrUpdate">
      <soap:operation soapAction="document/urn:crmondemand/ws/product/:ProductInsertOrUpdate" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ProductUpdate">
      <soap:operation soapAction="document/urn:crmondemand/ws/product/:ProductUpdate" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ProductQueryPage">
      <soap:operation soapAction="document/urn:crmondemand/ws/product/:ProductQueryPage" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Product">
    <port binding="tns:Default_Binding" name="Default">
      <soap:address location="https://secure-ausomxapa.crmondemand.com/Services/Integration" />
    </port>
  </service>
</definitions>
