CRMGadget/wsdl/User.wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsdLocal1="urn:/crmondemand/xml/User/Query"
	targetNamespace="urn:crmondemand/ws/ecbs/user/10/2004" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:xsdLocal2="urn:/crmondemand/xml/User/Data" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="urn:crmondemand/ws/ecbs/user/10/2004">
	<types>
		<xsd:schema elementFormDefault="qualified"
			attributeFormDefault="unqualified" targetNamespace="urn:/crmondemand/xml/User/Data"
			xmlns:xsdLocal2="urn:/crmondemand/xml/User/Data" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation>Copyright (C) 2001, 2008, Oracle and/or its affiliates. All rights reserved. Siebel XSD Generation</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="ListOfUser" type="xsdLocal2:ListOfUserData" />
			<xsd:complexType name="ListOfUserTopElmtData">
				<xsd:sequence>
					<xsd:element name="ListOfUser" maxOccurs="1" minOccurs="1"
						type="xsdLocal2:ListOfUserData" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ListOfUserData">
				<xsd:sequence>
					<xsd:element name="User" maxOccurs="unbounded"
						minOccurs="0" type="xsdLocal2:UserData" />
				</xsd:sequence>
				<xsd:attribute name="lastpage" type="xsd:boolean" />
				<xsd:attribute name="recordcount" type="xsd:integer" />
			</xsd:complexType>
			<xsd:complexType name="UserData">
				<xsd:all>
					<xsd:element name="ModifiedDate" maxOccurs="1"
						minOccurs="0" type="xsd:dateTime" />
					<xsd:element name="CreatedDate" maxOccurs="1"
						minOccurs="0" type="xsd:dateTime" />
					<xsd:element name="ModifiedById" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="CreatedById" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="ModId" maxOccurs="1" minOccurs="0"
						type="xsd:int" />
					<xsd:element name="Id" maxOccurs="1" minOccurs="0"
						type="xsd:string" />
					<xsd:element name="Alias" maxOccurs="1" minOccurs="0"
						type="xsd:string" />
					<xsd:element name="ApprovalCurrency" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="AuthenticationType" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="Status" maxOccurs="1" minOccurs="0"
						type="xsd:string" />
					<xsd:element name="BusinessUnit" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="BusinessUnitLevel1" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="BusinessUnitLevel2" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="BusinessUnitLevel3" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="BusinessUnitLevel4" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="CellPhone" maxOccurs="1" minOccurs="0"
						type="xsd:string" />
					<xsd:element name="CreatedByExt" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="CreatedByFirstName" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="CreatedByFullName" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="CreatedByLastName" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="CurrencyCode" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="DefaultAnalyticsBookName" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="DefaultBookName" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="DefaultCalendarView" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="DefaultSearchObject" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="Department" maxOccurs="1" minOccurs="0"
						type="xsd:string" />
					<xsd:element name="EMailAddr" maxOccurs="1" minOccurs="0"
						type="xsd:string" />
					<xsd:element name="EmployeeNumber" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="Company" maxOccurs="1" minOccurs="0"
						type="xsd:string" />
					<xsd:element name="CompanySignInID" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="EnableAnimateFlag" maxOccurs="1"
						minOccurs="0" type="xsd:boolean" />
					<xsd:element name="ExternalSystemId" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="WorkFax" maxOccurs="1" minOccurs="0"
						type="xsd:string" />
					<xsd:element name="FirstName" maxOccurs="1" minOccurs="0"
						type="xsd:string" />
					<xsd:element name="FullName" maxOccurs="1" minOccurs="0"
						type="xsd:string" />
					<xsd:element name="TempPasswordFlag" maxOccurs="1"
						minOccurs="0" type="xsd:boolean" />
					<xsd:element name="HistoricalSubjectAreas" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="IntegrationId" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="JobTitle" maxOccurs="1" minOccurs="0"
						type="xsd:string" />
					<xsd:element name="LanguageCode" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="Language" maxOccurs="1" minOccurs="0"
						type="xsd:string" />
					<xsd:element name="LastLoggedIn" maxOccurs="1"
						minOccurs="0" type="xsd:dateTime" />
					<xsd:element name="ModifiedByExt" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="LastName" maxOccurs="1" minOccurs="0"
						type="xsd:string" />
					<xsd:element name="LeadLimit" maxOccurs="1" minOccurs="0"
						type="xsd:decimal" />
					<xsd:element name="LocaleCode" maxOccurs="1" minOccurs="0"
						type="xsd:string" />
					<xsd:element name="Locale" maxOccurs="1" minOccurs="0"
						type="xsd:string" />
					<xsd:element name="UserSignInId" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="ManagerAlias" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="ManagerFullName" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="Market" maxOccurs="1" minOccurs="0"
						type="xsd:string" />
					<xsd:element name="MaxNumOfListExport" maxOccurs="1"
						minOccurs="0" type="xsd:int" />
					<xsd:element name="FundApprovalLimit" maxOccurs="1"
						minOccurs="0" type="xsd:decimal" />
					<xsd:element name="MiddleName" maxOccurs="1" minOccurs="0"
						type="xsd:string" />
					<xsd:element name="MiscellaneousNumber1" maxOccurs="1"
						minOccurs="0" type="xsd:decimal" />
					<xsd:element name="MiscellaneousNumber2" maxOccurs="1"
						minOccurs="0" type="xsd:decimal" />
					<xsd:element name="MiscellaneousText1" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="MiscellaneousText2" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="Division" maxOccurs="1" minOccurs="0"
						type="xsd:string" />
					<xsd:element name="NumberOfSecurityQuestionsToComplete"
						maxOccurs="1" minOccurs="0" type="xsd:string" />
					<xsd:element name="DefaultUserIDType" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="EnableTeamContactsSync" maxOccurs="1"
						minOccurs="0" type="xsd:boolean" />
					<xsd:element name="PartnerOrganizationId" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="PartnerOrganizationName" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="PasswordState" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="PersonalAddressId" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="PersonalCity" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="PersonalCountry" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="PersonalCounty" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="PersonalPostalCode" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="PersonalProvince" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="PersonalState" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="PersonalStreetAddress" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="PersonalStreetAddress2" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="PersonalStreetAddress3" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="MrMrs" maxOccurs="1" minOccurs="0"
						type="xsd:string" />
					<xsd:element name="PhoneNumber" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="PreviewMode" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="PrimaryGroup" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="PrimaryPositionId" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="RoleId" maxOccurs="1" minOccurs="0"
						type="xsd:string" />
					<xsd:element name="PromptToDialFlag" maxOccurs="1"
						minOccurs="0" type="xsd:boolean" />
					<xsd:element name="Region" maxOccurs="1" minOccurs="0"
						type="xsd:string" />
					<xsd:element name="ReportingSubjectAreas" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="Role" maxOccurs="1" minOccurs="0"
						type="xsd:string" />
					<xsd:element name="ExternalIdentifierForSingleSignOn"
						maxOccurs="1" minOccurs="0" type="xsd:string" />
					<xsd:element name="SalesProcessId" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="SecondaryEmail" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="SendCriticalAlertsFlag" maxOccurs="1"
						minOccurs="0" type="xsd:boolean" />
					<xsd:element name="SubMarket" maxOccurs="1" minOccurs="0"
						type="xsd:string" />
					<xsd:element name="SubRegion" maxOccurs="1" minOccurs="0"
						type="xsd:string" />
					<xsd:element name="Supervisor" maxOccurs="1" minOccurs="0"
						type="xsd:string" />
					<xsd:element name="NeverCall" maxOccurs="1" minOccurs="0"
						type="xsd:boolean" />
					<xsd:element name="NevereMail" maxOccurs="1" minOccurs="0"
						type="xsd:boolean" />
					<xsd:element name="NeverMail" maxOccurs="1" minOccurs="0"
						type="xsd:boolean" />
					<xsd:element name="TimeZoneId" maxOccurs="1" minOccurs="0"
						type="xsd:string" />
					<xsd:element name="TimeZoneName" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="UserLoginId" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="ManagerId" maxOccurs="1" minOccurs="0"
						type="xsd:string" />
					<xsd:element name="ShowWelcomePage" maxOccurs="1"
						minOccurs="0" type="xsd:boolean" />
					<xsd:element name="ThemeName" maxOccurs="1" minOccurs="0"
						type="xsd:string" />
					<xsd:element name="SalesProcessName" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="HUDMode" maxOccurs="1" minOccurs="0"
						type="xsd:string" />
					<xsd:element name="RBCanReadAllRecforUser" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="UpdatedByAlias" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="UpdatedByEMailAddr" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="UpdatedByExternalSystemId"
						maxOccurs="1" minOccurs="0" type="xsd:string" />
					<xsd:element name="UpdatedByFirstName" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="UpdatedByFullName" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="UpdatedByIntegrationId" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="UpdatedByLastName" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="UpdatedByUserSignInId" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="CreatedByAlias" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="CreatedByEMailAddr" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="CreatedByExternalSystemId"
						maxOccurs="1" minOccurs="0" type="xsd:string" />
					<xsd:element name="CreatedByIntegrationId" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="CreatedByUserSignInId" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="CreatedBy" maxOccurs="1" minOccurs="0"
						type="xsd:string" />
					<xsd:element name="ModifiedBy" maxOccurs="1" minOccurs="0"
						type="xsd:string" />
					<xsd:element name="ListOfDelegatedUser" maxOccurs="1"
						minOccurs="0" type="xsdLocal2:ListOfDelegatedUserData" />
				</xsd:all>
				<xsd:attribute name="operation" type="xsd:string" />
			</xsd:complexType>
			<xsd:complexType name="ListOfDelegatedUserData">
				<xsd:sequence>
					<xsd:element name="DelegatedUser" maxOccurs="unbounded"
						minOccurs="0" type="xsdLocal2:DelegatedUserData" />
				</xsd:sequence>
				<xsd:attribute name="lastpage" type="xsd:boolean" />
				<xsd:attribute name="recordcount" type="xsd:integer" />
			</xsd:complexType>
			<xsd:complexType name="DelegatedUserData">
				<xsd:all>
					<xsd:element name="ModifiedDate" maxOccurs="1"
						minOccurs="0" type="xsd:dateTime" />
					<xsd:element name="CreatedDate" maxOccurs="1"
						minOccurs="0" type="xsd:dateTime" />
					<xsd:element name="ModifiedById" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="CreatedById" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="ModId" maxOccurs="1" minOccurs="0"
						type="xsd:int" />
					<xsd:element name="Id" maxOccurs="1" minOccurs="0"
						type="xsd:string" />
					<xsd:element name="FirstName" maxOccurs="1" minOccurs="0"
						type="xsd:string" />
					<xsd:element name="UserId" maxOccurs="1" minOccurs="0"
						type="xsd:string" />
					<xsd:element name="LastName" maxOccurs="1" minOccurs="0"
						type="xsd:string" />
					<xsd:element name="Alias" maxOccurs="1" minOccurs="0"
						type="xsd:string" />
					<xsd:element name="UserRole" maxOccurs="1" minOccurs="0"
						type="xsd:string" />
					<xsd:element name="StartDate" maxOccurs="1" minOccurs="0"
						type="xsd:date" />
					<xsd:element name="ExternalSystemId" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="UpdatedByAlias" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="UpdatedByEMailAddr" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="UpdatedByExternalSystemId"
						maxOccurs="1" minOccurs="0" type="xsd:string" />
					<xsd:element name="UpdatedByFirstName" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="UpdatedByFullName" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="UpdatedByIntegrationId" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="UpdatedByLastName" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="UpdatedByUserSignInId" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="CreatedByAlias" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="CreatedByEMailAddr" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="CreatedByExternalSystemId"
						maxOccurs="1" minOccurs="0" type="xsd:string" />
					<xsd:element name="CreatedByFirstName" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="CreatedByFullName" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="CreatedByIntegrationId" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="CreatedByLastName" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="CreatedByUserSignInId" maxOccurs="1"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="CreatedBy" maxOccurs="1" minOccurs="0"
						type="xsd:string" />
					<xsd:element name="ModifiedBy" maxOccurs="1" minOccurs="0"
						type="xsd:string" />
				</xsd:all>
				<xsd:attribute name="operation" type="xsd:string" />
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified"
			attributeFormDefault="unqualified" targetNamespace="urn:crmondemand/ws/ecbs/user/10/2004"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="urn:/crmondemand/xml/User/Data" />
			<xsd:import namespace="urn:/crmondemand/xml/User/Query" />
			<xsd:element name="UserQueryPage_Input">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="xsdLocal1:ListOfUser" />
						<xsd:element name="LOVLanguageMode" minOccurs="0"
							type="xsd:string" />
						<xsd:element name="ViewMode" minOccurs="0" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="UserQueryPage_Output">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="xsdLocal2:ListOfUser" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="UserInsert_Input">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="xsdLocal2:ListOfUser" />
						<xsd:element name="LOVLanguageMode" minOccurs="0"
							type="xsd:string" />
						<xsd:element name="ViewMode" minOccurs="0" type="xsd:string" />
						<xsd:element name="Echo" minOccurs="0" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="UserInsert_Output">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="xsdLocal2:ListOfUser" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="UserExecute_Input">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="xsdLocal2:ListOfUser" />
						<xsd:element name="LOVLanguageMode" minOccurs="0"
							type="xsd:string" />
						<xsd:element name="ViewMode" minOccurs="0" type="xsd:string" />
						<xsd:element name="Echo" minOccurs="0" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="UserExecute_Output">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="xsdLocal2:ListOfUser" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="UserUpdate_Input">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="xsdLocal2:ListOfUser" />
						<xsd:element name="LOVLanguageMode" minOccurs="0"
							type="xsd:string" />
						<xsd:element name="ViewMode" minOccurs="0" type="xsd:string" />
						<xsd:element name="Echo" minOccurs="0" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="UserUpdate_Output">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="xsdLocal2:ListOfUser" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified"
			attributeFormDefault="unqualified" xmlns:xsdLocal1="urn:/crmondemand/xml/User/Query"
			targetNamespace="urn:/crmondemand/xml/User/Query" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation>Copyright (C) 2001, 2008, Oracle and/or its affiliates. All rights reserved. Siebel XSD Generation</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="ListOfUser" type="xsdLocal1:ListOfUserQuery" />
			<xsd:complexType name="ListOfUserTopElmtQuery">
				<xsd:sequence>
					<xsd:element name="ListOfUser" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:ListOfUserQuery" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ListOfUserQuery">
				<xsd:sequence>
					<xsd:element name="User" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:UserQuery" />
				</xsd:sequence>
				<xsd:attribute name="pagesize" type="xsd:integer" />
				<xsd:attribute name="startrownum" type="xsd:integer" />
				<xsd:attribute name="recordcountneeded" type="xsd:boolean" />
			</xsd:complexType>
			<xsd:complexType name="UserQuery">
				<xsd:all>
					<xsd:element name="ModifiedDate" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="CreatedDate" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="ModifiedById" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="CreatedById" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="ModId" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:queryType" />
					<xsd:element name="Id" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:queryType" />
					<xsd:element name="Alias" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:queryType" />
					<xsd:element name="ApprovalCurrency" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="AuthenticationType" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="Status" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:queryType" />
					<xsd:element name="BusinessUnit" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="BusinessUnitLevel1" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="BusinessUnitLevel2" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="BusinessUnitLevel3" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="BusinessUnitLevel4" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="CellPhone" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:queryType" />
					<xsd:element name="CreatedByExt" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="CreatedByFirstName" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="CreatedByFullName" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="CreatedByLastName" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="CurrencyCode" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="DefaultAnalyticsBookName" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="DefaultBookName" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="DefaultCalendarView" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="DefaultSearchObject" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="Department" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:queryType" />
					<xsd:element name="EMailAddr" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:queryType" />
					<xsd:element name="EmployeeNumber" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="Company" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:queryType" />
					<xsd:element name="CompanySignInID" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="EnableAnimateFlag" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="ExternalSystemId" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="WorkFax" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:queryType" />
					<xsd:element name="FirstName" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:queryType" />
					<xsd:element name="FullName" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:queryType" />
					<xsd:element name="TempPasswordFlag" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="HistoricalSubjectAreas" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="IntegrationId" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="JobTitle" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:queryType" />
					<xsd:element name="LanguageCode" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="Language" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:queryType" />
					<xsd:element name="LastLoggedIn" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="ModifiedByExt" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="LastName" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:queryType" />
					<xsd:element name="LeadLimit" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:queryType" />
					<xsd:element name="LocaleCode" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:queryType" />
					<xsd:element name="Locale" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:queryType" />
					<xsd:element name="UserSignInId" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="ManagerAlias" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="ManagerFullName" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="Market" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:queryType" />
					<xsd:element name="MaxNumOfListExport" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="FundApprovalLimit" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="MiddleName" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:queryType" />
					<xsd:element name="MiscellaneousNumber1" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="MiscellaneousNumber2" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="MiscellaneousText1" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="MiscellaneousText2" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="Division" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:queryType" />
					<xsd:element name="NumberOfSecurityQuestionsToComplete"
						maxOccurs="1" minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="DefaultUserIDType" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="EnableTeamContactsSync" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="PartnerOrganizationId" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="PartnerOrganizationName" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="PasswordState" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="PersonalAddressId" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="PersonalCity" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="PersonalCountry" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="PersonalCounty" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="PersonalPostalCode" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="PersonalProvince" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="PersonalState" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="PersonalStreetAddress" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="PersonalStreetAddress2" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="PersonalStreetAddress3" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="MrMrs" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:queryType" />
					<xsd:element name="PhoneNumber" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="PreviewMode" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="PrimaryGroup" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="PrimaryPositionId" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="RoleId" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:queryType" />
					<xsd:element name="PromptToDialFlag" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="Region" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:queryType" />
					<xsd:element name="ReportingSubjectAreas" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="Role" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:queryType" />
					<xsd:element name="ExternalIdentifierForSingleSignOn"
						maxOccurs="1" minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="SalesProcessId" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="SecondaryEmail" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="SendCriticalAlertsFlag" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="SubMarket" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:queryType" />
					<xsd:element name="SubRegion" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:queryType" />
					<xsd:element name="Supervisor" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:queryType" />
					<xsd:element name="NeverCall" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:queryType" />
					<xsd:element name="NevereMail" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:queryType" />
					<xsd:element name="NeverMail" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:queryType" />
					<xsd:element name="TimeZoneId" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:queryType" />
					<xsd:element name="TimeZoneName" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="UserLoginId" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="ManagerId" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:queryType" />
					<xsd:element name="ShowWelcomePage" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="ThemeName" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:queryType" />
					<xsd:element name="SalesProcessName" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="HUDMode" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:queryType" />
					<xsd:element name="RBCanReadAllRecforUser" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="UpdatedByAlias" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="UpdatedByEMailAddr" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="UpdatedByExternalSystemId"
						maxOccurs="1" minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="UpdatedByFirstName" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="UpdatedByFullName" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="UpdatedByIntegrationId" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="UpdatedByLastName" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="UpdatedByUserSignInId" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="CreatedByAlias" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="CreatedByEMailAddr" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="CreatedByExternalSystemId"
						maxOccurs="1" minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="CreatedByIntegrationId" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="CreatedByUserSignInId" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="CreatedBy" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:queryType" />
					<xsd:element name="ModifiedBy" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:queryType" />
					<xsd:element name="ListOfDelegatedUser" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:ListOfDelegatedUserQuery" />
				</xsd:all>
				<xsd:attribute name="searchspec" type="xsd:string" />
			</xsd:complexType>
			<xsd:complexType name="ListOfDelegatedUserQuery">
				<xsd:sequence>
					<xsd:element name="DelegatedUser" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:DelegatedUserQuery" />
				</xsd:sequence>
				<xsd:attribute name="pagesize" type="xsd:integer" />
				<xsd:attribute name="startrownum" type="xsd:integer" />
				<xsd:attribute name="recordcountneeded" type="xsd:boolean" />
			</xsd:complexType>
			<xsd:complexType name="DelegatedUserQuery">
				<xsd:all>
					<xsd:element name="ModifiedDate" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="CreatedDate" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="ModifiedById" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="CreatedById" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="ModId" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:queryType" />
					<xsd:element name="Id" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:queryType" />
					<xsd:element name="FirstName" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:queryType" />
					<xsd:element name="UserId" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:queryType" />
					<xsd:element name="LastName" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:queryType" />
					<xsd:element name="Alias" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:queryType" />
					<xsd:element name="UserRole" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:queryType" />
					<xsd:element name="StartDate" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:queryType" />
					<xsd:element name="ExternalSystemId" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="UpdatedByAlias" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="UpdatedByEMailAddr" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="UpdatedByExternalSystemId"
						maxOccurs="1" minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="UpdatedByFirstName" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="UpdatedByFullName" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="UpdatedByIntegrationId" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="UpdatedByLastName" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="UpdatedByUserSignInId" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="CreatedByAlias" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="CreatedByEMailAddr" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="CreatedByExternalSystemId"
						maxOccurs="1" minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="CreatedByFirstName" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="CreatedByFullName" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="CreatedByIntegrationId" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="CreatedByLastName" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="CreatedByUserSignInId" maxOccurs="1"
						minOccurs="0" type="xsdLocal1:queryType" />
					<xsd:element name="CreatedBy" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:queryType" />
					<xsd:element name="ModifiedBy" maxOccurs="1" minOccurs="0"
						type="xsdLocal1:queryType" />
				</xsd:all>
				<xsd:attribute name="searchspec" type="xsd:string" />
			</xsd:complexType>
			<xsd:complexType name="queryType">
				<xsd:simpleContent>
					<xsd:extension base="xsd:string">
						<xsd:attribute name="sortorder" type="xsd:string" />
						<xsd:attribute name="sortsequence" type="xsd:string" />
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name="UserQueryPage_Input">
		<part name="UserQueryPage_Input" element="tns:UserQueryPage_Input" />
	</message>
	<message name="UserQueryPage_Output">
		<part name="UserQueryPage_Output" element="tns:UserQueryPage_Output" />
	</message>
	<message name="UserInsert_Input">
		<part name="UserInsert_Input" element="tns:UserInsert_Input" />
	</message>
	<message name="UserInsert_Output">
		<part name="UserInsert_Output" element="tns:UserInsert_Output" />
	</message>
	<message name="UserExecute_Input">
		<part name="UserExecute_Input" element="tns:UserExecute_Input" />
	</message>
	<message name="UserExecute_Output">
		<part name="UserExecute_Output" element="tns:UserExecute_Output" />
	</message>
	<message name="UserUpdate_Input">
		<part name="UserUpdate_Input" element="tns:UserUpdate_Input" />
	</message>
	<message name="UserUpdate_Output">
		<part name="UserUpdate_Output" element="tns:UserUpdate_Output" />
	</message>
	<portType name="User">
		<operation name="UserQueryPage">
			<input message="tns:UserQueryPage_Input" />
			<output message="tns:UserQueryPage_Output" />
		</operation>
		<operation name="UserInsert">
			<input message="tns:UserInsert_Input" />
			<output message="tns:UserInsert_Output" />
		</operation>
		<operation name="UserExecute">
			<input message="tns:UserExecute_Input" />
			<output message="tns:UserExecute_Output" />
		</operation>
		<operation name="UserUpdate">
			<input message="tns:UserUpdate_Input" />
			<output message="tns:UserUpdate_Output" />
		</operation>
	</portType>
	<binding name="User" type="tns:User">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="UserQueryPage">
			<soap:operation
				soapAction="document/urn:crmondemand/ws/ecbs/user/10/2004:UserQueryPage" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="UserInsert">
			<soap:operation
				soapAction="document/urn:crmondemand/ws/ecbs/user/10/2004:UserInsert" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="UserExecute">
			<soap:operation
				soapAction="document/urn:crmondemand/ws/ecbs/user/10/2004:UserExecute" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="UserUpdate">
			<soap:operation
				soapAction="document/urn:crmondemand/ws/ecbs/user/10/2004:UserUpdate" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="User">
		<port binding="tns:User" name="User">
			<soap:address
				location="https://secure-ausomxapa.crmondemand.com/Services/Integration" />
		</port>
	</service>
</definitions>